body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(223, 213, 204);
    background-image: url(./images/img1.jpg), url(./images/img3.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;  
}

@font-face{
    font-family: 'Regale';
    src: url(./fonts/History\ Regale\ Italic\ DEMO\ VERSION.ttf);
}

@font-face{
    font-family: 'Brendiva';
    src: url(./fonts/Brendiva-Medium.ttf);
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    backdrop-filter: blur (3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
}

h1 {
    color: #333;
    font-family: 'Regale';
}

h2{
    font-family: 'Brendiva';
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultsDisplay {
    margin-top: 20px;
}

#resultsDisplay .result-item {
    background-color: #A3BFD8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #A3BFD8;
    
}

.result-item h3 {
    margin: 0 0 10px 0;
}

.result-item p {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}

